/**
 * =============================================================================
 * This is the file where all your styling should go in.
 * Instead of modifying the styles found in the monogatari.css file or others,
 * you should overwrite those styles in this file.
 *
 * The CSS selectors shown are not an extensive list but they are the most
 * common you might want to change. To find what other elements are available,
 * you can take a look at the monogatari.css file or use your browser's dev
 * tools to inspect the elements.
 * =============================================================================
**/
/**
 * ===========================
 * General Styling
 * ===========================
**/
@font-face {
  font-family: palatino-linotype;
  src: url("../assets/fonts/palatino-linotype.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: beaufort;
  src: url("../assets/fonts/beaufortforlol-regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

/* General Style */
body {
  font-family: beaufort; }

/* Simple Button styles*/
button {
  outline: none;
  color: #273648;
  background: #7d6326;
  transition: 300ms ease-in-out;
  border: 2px solid #A27D30;
  border-top-color: #C39F56; }

/* Simple Button Style on Hover */
button:hover {
  box-shadow: rgba(199, 155, 59, 0.16) 0px 10px 36px 0px, rgba(199, 155, 59, 0.06) 0px 0px 0px 1px;
  transition: 300ms ease-in-out;
  background: #c79b3b;
  border: 2px solid #7d6326;
  border-top-color: #A27D30; }

button:focus {
  box-shadow: rgba(199, 155, 59, 0.16) 0px 10px 36px 0px, rgba(199, 155, 59, 0.06) 0px 0px 0px 1px;
  transition: 300ms ease-in-out;
  background: #c79b3b;
  border: 2px solid #7d6326;
  border-top-color: #A27D30; }

/* General Styling for Menu Screens */
[data-screen] {
  background: #273648;
  background: linear-gradient(0deg, #273648 0%, #181d23 50%);
  color: #c79b3b; }

[data-action="back"] {
  display: none; }

[data-screen="settings"] {
  background: url("../assets/menu/bg-map.jpg");
  background-size: cover;
  background-position: center; }

[data-screen="load"] {
  background: url("../assets/menu/bg-map.jpg");
  background-size: cover;
  background-position: center; }

/**
 * ===========================
 * Main Menu Styling
 * ===========================
**/
/* Main Menu Styling */
.katarina-new {
  background: url("../assets/menu/newkatarina-bg.png");
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: 50vh;
  background-repeat: no-repeat;
  background-position: center left 30px; }

.katarina-old {
  background: url("../assets/menu/katarina-bg.png");
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: 50vh;
  background-repeat: no-repeat;
  background-position: center right 30px; }

[data-screen="main"] {
  background: url("../assets/menu/bg.jpg");
  background-size: cover;
  background-position: center;
  justify-content: space-between;
  /*
  :after {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    opacity: .1;
    filter: blur(35px);
    /* background-size: contain;


    background: url('../assets/images/sun.gif');
    background-size: contain;
  }
*/ }
  [data-screen="main"]:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    opacity: .1;
    filter: blur(30px);
    background: url("../assets/images/fog.gif");
    background-size: contain; }

/* Main Menu Buttons Styling */
[data-screen="main"] button {
  background: transparent;
  text-transform: uppercase;
  margin: 0;
  width: auto;
  height: auto;
  color: #c79b3b;
  position: relative;
  font-family: beaufort;
  font-size: 30px;
  transition: 500ms ease-in-out;
  border: none;
  z-index: 1; }

[data-screen="main"] button:focus {
  border: none; }

[data-screen="main"] button:hover {
  border: none;
  transition: 500ms ease-in-out;
  color: #F2D090;
  box-shadow: rgba(199, 155, 59, 0.16) 0px 10px 36px 0px, rgba(199, 155, 59, 0.06) 0px 0px 0px 1px;
  box-shadow: rgba(199, 155, 59, 0.16) 0px 3px 6px, rgba(199, 155, 59, 0.23) 0px 3px 6px;
  box-shadow: rgba(199, 155, 59, 0.1) 0px 10px 50px; }

[data-screen="main"] button::before, button::after, span::before, span::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: transparent;
  transition: 500ms ease-in-out;
  /* -webkit-mix-blend-mode: hue; */ }

[data-screen="main"] button::before {
  top: -2px;
  left: -5px;
  border-top: 1px solid #c79b3b;
  border-left: 1px solid #c79b3b; }

[data-screen="main"] button::after {
  top: -2px;
  right: -5px;
  border-top: 1px solid #c79b3b;
  border-right: 1px solid #c79b3b; }

[data-screen="main"] span::before {
  bottom: -2px;
  left: -5px;
  border-bottom: 1px solid #c79b3b;
  border-left: 1px solid #c79b3b;
  border-radius: 1px; }

[data-screen="main"] span::after {
  bottom: -2px;
  right: -5px;
  border-bottom: 1px solid #c79b3b;
  border-right: 1px solid #c79b3b; }

[data-screen="main"] button:hover::before,
[data-screen="main"] button:hover::after,
[data-screen="main"] button:hover span::before,
[data-screen="main"] button:hover span::after {
  width: calc(225px / 2); }

[data-screen="main"] button:focus::before,
[data-screen="main"] button:focus::after,
[data-screen="main"] button:focus span::before,
[data-screen="main"] button:focus span::after {
  width: calc(225px / 2); }

[data-component='main-menu'] {
  background: #273648;
  background: linear-gradient(0deg, rgba(39, 54, 72, 0.8) 0%, rgba(24, 29, 35, 0.8) 50%);
  border: 4px solid;
  border-image: linear-gradient(45deg, #7d6326, #f2d090);
  border-image-slice: 1;
  margin-right: auto;
  gap: 70px;
  transition: 500ms ease-in-out;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-content: center;
  position: static;
  width: 30%;
  margin-left: auto;
  min-height: 50vh;
  padding: 100px;
  box-shadow: rgba(199, 155, 59, 0.16) 0px 10px 36px 0px, rgba(199, 155, 59, 0.06) 0px 0px 0px 1px; }
  @media (max-width: 1260px) {
    [data-component='main-menu'] {
      width: 50%; } }
  @media (max-width: 900px) {
    [data-component='main-menu'] {
      width: 90%; } }

[data-component='main-menu']:hover {
  transition: 500ms ease-in-out; }

.main-menu-border {
  position: absolute;
  width: 30%;
  left: 50%;
  top: 0;
  height: 100%;
  transform: translate(-50%, 0);
  display: grid;
  place-items: center; }
  @media (max-width: 1260px) {
    .main-menu-border {
      width: 50%; } }
  @media (max-width: 900px) {
    .main-menu-border {
      width: 90%; } }
  .main-menu-border .corners {
    position: relative;
    width: 97%;
    height: 95%; }
  .main-menu-border .top, .main-menu-border .bottom {
    position: absolute;
    width: 40px;
    height: 40px;
    pointer-events: none; }
  .main-menu-border .top {
    top: 0;
    border-top: 2px solid;
    border-image: linear-gradient(45deg, #7d6326, #f2d090);
    border-image-slice: 1; }
  .main-menu-border .bottom {
    bottom: 0;
    border-bottom: 2px solid;
    border-image: linear-gradient(45deg, #7d6326, #f2d090);
    border-image-slice: 1; }
  .main-menu-border .left {
    left: 0;
    border-left: 2px solid;
    border-image: linear-gradient(45deg, #7d6326, #f2d090);
    border-image-slice: 1; }
  .main-menu-border .right {
    right: 0;
    border-right: 2px solid;
    border-image: linear-gradient(45deg, #7d6326, #f2d090);
    border-image-slice: 1; }

/*.main-menu-support:after {
  position: absolute;
  right: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: -70px;
  content: '';
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, transparent 0%, #c79b3b 50%, transparent 100%);

}*/
.main-menu__title {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  border-bottom: 3px solid #c79b3b;
  border-image: radial-gradient(#c79b3b, rgba(199, 155, 59, 0)) 1;
  width: fit-content;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-size: 30px;
  padding-top: 10px; }

.main-menu-support {
  display: flex;
  gap: 20px;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  transition: 340ms ease-in-out;
  padding: 5px;
  width: 100%; }
  .main-menu-support__wrapper {
    display: flex;
    order: 1;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    position: relative;
    background: #c79b3b;
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgba(199, 155, 59, 0.8);
    width: 30%; }
    @media (max-width: 1260px) {
      .main-menu-support__wrapper {
        width: 50%; } }
    @media (max-width: 900px) {
      .main-menu-support__wrapper {
        width: 90%; } }

.main-menu-support a {
  transition: 340ms ease-in-out; }

.main-menu-support a svg path {
  transition: 340ms ease-in-out; }

.main-menu-support a:hover {
  cursor: pointer;
  transform: translatey(-2px);
  transition: 340ms ease-in-out;
  fill: #000000; }

.main-menu-support a:hover svg path {
  cursor: pointer;
  transform: translatey(-1px);
  transition: 340ms ease-in-out;
  fill: #181d23; }

/**
 * ===========================
 * Save and Load Menus Styling
 * ===========================
**/
/* Slots Style */
/* Slot's Image Style */
/* Slots Title Style */
/* Slots Delete Button Style */
/**
 * ===========================
 * Game Elements Styling
 * ===========================
**/
/* Choice Buttons style */
/* Choice Button Style on Hover */
/* Text Box styling */
[data-component="text-box"] {
  background: #273648;
  background: linear-gradient(0deg, rgba(39, 54, 72, 0.8) 0%, rgba(24, 29, 35, 0.8) 50%);
  border: 2px solid;
  border-image: linear-gradient(45deg, #7d6326, #f2d090);
  border-image-slice: 1;
  bottom: 0; }

/* Character Name Style */
/* Style for Centered Text */
/* Character Images Styles */
/* Other Images Styles */
/**
 * ===========================
 * Quick Menu Styling
 * ===========================
**/
/* These styles are applied to the Mobile version of the Quick Menu */
/* Quick Menu Style */
[data-component="quick-menu"] {
  position: static;
  flex-direction: column;
  align-items: center;
  background: none;
  padding-top: 170px; }
  [data-component="quick-menu"] svg {
    display: none; }
  [data-component="quick-menu"] button {
    color: #c79b3b; }
    [data-component="quick-menu"] button:hover {
      box-shadow: none; }
      [data-component="quick-menu"] button:hover span {
        display: inline-block;
        width: 80px;
        border-top: 2px solid #c79b3b;
        border-image: radial-gradient(#c79b3b, rgba(199, 155, 59, 0)) 1;
        padding-top: 9px;
        padding-bottom: 9px; }
    [data-component="quick-menu"] button span {
      width: 80px;
      border-top: 2px solid #c79b3b;
      border-image: radial-gradient(#c79b3b, rgba(199, 155, 59, 0)) 1;
      padding-top: 9px;
      padding-bottom: 9px;
      display: inline-block; }
    [data-component="quick-menu"] button[data-action='distraction-free'] {
      display: none; }

[data-component="quick-menu"] {
  position: static;
  flex-direction: column;
  align-items: center;
  background: none;
  padding-top: 250px;
  padding-bottom: 20px; }
  [data-component="quick-menu"] button {
    color: #c79b3b; }
    [data-component="quick-menu"] button:hover {
      box-shadow: none; }
      [data-component="quick-menu"] button:hover span {
        width: 80px;
        border-top: 2px solid #c79b3b;
        border-image: radial-gradient(#c79b3b, rgba(199, 155, 59, 0)) 1;
        padding-top: 9px;
        padding-bottom: 9px;
        display: inline-block; }
    [data-component="quick-menu"] button span {
      width: 80px;
      border-top: 2px solid #c79b3b;
      border-image: radial-gradient(#c79b3b, rgba(199, 155, 59, 0)) 1;
      padding-top: 9px;
      padding-bottom: 9px;
      display: inline-block; }
    [data-component="quick-menu"] button[data-action='distraction-free'] {
      display: none; }
  [data-component="quick-menu"] svg {
    display: none; }

[data-action='dialog-log'] span {
  border-top: none !important;
  padding-top: 0 !important; }

/* Quick Menu Buttons Style */
[data-component="quick-menu"] span {
  border: none; }

[data-component="quick-menu"] button {
  border: none; }
  [data-component="quick-menu"] button:hover {
    border: none; }
  [data-component="quick-menu"] button:focus {
    border: none; }

/* Quick Menu Buttons Style on Hover */
[data-component="quick-menu"] span:hover {
  border: none; }

[data-component="quick-menu"] span:focus {
  border: none; }

/* Quick Menu Buttons Icon Style */
/**
 * ===========================
 * Range Styling
 * ===========================
**/
/* Use the background property to set a color for these */
/** Medium Screens, Phablets (601px) **/
@media screen and (min-width: 37.56255em) {
  /* Styles for the desktop version of the Quick Menu */
  /* Quick Menu Style */
  /* Quick Menu Buttons Style */
  /* Quick Menu Buttons Style on Hover */ }

/** Medium Devices, Tablets (992px)**/
/** HD Screen, Large Devices, Wide Screens, Desktop (1200px) **/
/** Full HD Screen, Large Devices, Wide Screens, Large Desktops (1920px) **/
/** Retina Screen , Large Devices, Wide Screens(2560px) **/
/** 4k Screens, Large Devices, Wide Screens (3840px) **/
/** 5k Screens, Large Devices, Wide Screens (5000px) **/
/** 8k Screens, Large Devices, Wide Screens (8000px) **/
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #c79b3b;
  cursor: pointer;
  margin-top: -8px; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #c79b3b; }

.settings-menu__wrap {
  color: #c79b3b;
  width: 65%;
  font-family: beaufort;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  background: linear-gradient(0deg, rgba(39, 54, 72, 0.5) 0%, rgba(24, 29, 35, 0.9) 50%);
  border: 4px solid;
  border-image: linear-gradient(45deg, #7d6326, #f2d090);
  border-image-slice: 1;
  box-shadow: rgba(199, 155, 59, 0.16) 0px 10px 36px 0px, rgba(199, 155, 59, 0.06) 0px 0px 0px 1px; }
  @media (max-width: 700px) {
    .settings-menu__wrap {
      width: 90%; } }
  .settings-menu__wrap [data-string='Settings'] {
    border-bottom: 3px solid #c79b3b;
    border-image: radial-gradient(#c79b3b, rgba(199, 155, 59, 0)) 1;
    width: fit-content;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 10px; }
  .settings-menu__wrap [data-string='Audio'] {
    visibility: hidden; }
  .settings-menu__wrap [data-string='Load'] {
    border-bottom: 3px solid #c79b3b;
    border-image: radial-gradient(#c79b3b, rgba(199, 155, 59, 0)) 1;
    width: fit-content;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 10px; }
  .settings-menu__wrap [data-string='Credits'] {
    border-bottom: 3px solid #c79b3b;
    border-image: radial-gradient(#c79b3b, rgba(199, 155, 59, 0)) 1;
    width: fit-content;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 10px; }
  .settings-menu__wrap > button {
    color: #273648 !important;
    background: #7d6326 !important;
    transition: 300ms ease-in-out;
    border: none;
    outline: none; }
    .settings-menu__wrap > button:hover {
      box-shadow: rgba(199, 155, 59, 0.16) 0px 10px 36px 0px, rgba(199, 155, 59, 0.06) 0px 0px 0px 1px;
      transition: 300ms ease-in-out;
      background: #c79b3b !important; }

language-selection-screen button {
  background: transparent;
  border: 1px solid var(--main-color); }

input[type=range] {
  width: 80%;
  padding-left: 0; }

.welcome-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  background: #fff;
  z-index: 100; }
  .welcome-video video {
    outline: 5px solid #fff;
    -webkit-box-shadow: 0px 0px 0px 10px white inset;
    -moz-box-shadow: 0px 0px 0px 10px white inset;
    box-shadow: 0px 0px 0px 10px white inset; }
  .welcome-video.hidden {
    display: none; }

.bgwindow {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(39, 54, 72, 0.6) 0%, rgba(24, 29, 35, 0.6) 50%);
  z-index: 11; }
  .bgwindow-inv {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(39, 54, 72, 0.6) 0%, rgba(24, 29, 35, 0.6) 50%);
    z-index: 11; }
    .bgwindow-inv.hidden {
      display: block; }
  .bgwindow.hidden {
    display: block; }

[data-action="show-stats"] {
  position: fixed;
  top: 0;
  left: 0; }

[data-content="audio-settings"] span {
  width: 80%;
  text-align: center;
  font-size: 1.2rem; }

[data-string='TextSpeed'] {
  font-size: 1.2rem;
  font-weight: normal; }

[data-string='AutoPlaySpeed'] {
  font-size: 1.2rem;
  font-weight: normal; }

[data-string='Language'] {
  font-weight: normal;
  font-size: 1.2rem; }

.settings-menu {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-items: flex-start;
  margin-bottom: 33px !important; }
  .settings-menu > div {
    width: 100%; }

.game-title {
  background: url("../assets/menu/name.png");
  padding: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 20px; }

choice-container button {
  margin: 1.5em; }

.modal__content {
  background: linear-gradient(0deg, #273648 0%, #181d23 50%);
  border: 4px solid;
  border-image: linear-gradient(45deg, #7d6326, #f2d090);
  border-image-slice: 1;
  color: #c79b3b; }

.quick-menu__wrapper {
  position: absolute;
  top: 0px;
  left: 56px;
  z-index: 12;
  display: none;
  width: 200px;
  background: rgba(15, 22, 30, 0.9); }
  .quick-menu__wrapper.hidden {
    display: flex !important; }

quick-menu.transparent button:focus, quick-menu.transparent button:hover {
  cursor: pointer; }

[data-component="game-screen"].splash-screen .open-menu {
  display: none; }

[data-component="game-screen"].splash-screen .open-inventory {
  display: none; }

[data-component="text-box"] {
  width: 65%;
  margin-bottom: 20px; }
  [data-component="text-box"] div[data-content="text"] {
    padding-top: 10px;
    margin-left: 10px;
    position: relative; }
    [data-component="text-box"] div[data-content="text"]::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 1px;
      width: 50%;
      /* or 100px */
      border-bottom: 4px solid #7d6326;
      border-image: linear-gradient(to right, #7d6326, rgba(0, 0, 0, 0)) 100% 0;
      border-image-slice: 1; }
    [data-component="text-box"] div[data-content="text"]::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 4px;
      /* or 100px */
      border-left: 4px solid #7d6326; }
  [data-component="text-box"][data-speaking="narrator-prologue"] {
    color: orangered;
    background: black;
    border: solid 1px pink;
    align-items: center; }
    [data-component="text-box"][data-speaking="narrator-prologue"] div[data-content="name"] {
      display: none; }
    [data-component="text-box"][data-speaking="narrator-prologue"] div[data-content="text"] {
      text-align: center; }

.text-box__wrapper {
  display: flex;
  justify-content: center; }

.side-menu__wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 6px;
  left: 0px;
  top: 0px;
  z-index: 12;
  cursor: pointer;
  background: rgba(15, 22, 30, 0.9);
  padding: 3px;
  padding-bottom: 10px; }
  .side-menu__wrap .open-menu {
    width: 50px;
    height: 50px;
    background: url("../assets/menu/homeicon.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 120ms ease-in-out; }
    .side-menu__wrap .open-menu.open {
      background: url("../assets/menu/homeicon-w.png");
      background-size: 90%;
      background-repeat: no-repeat;
      background-position: center;
      transition: 120ms ease-in-out; }
    .side-menu__wrap .open-menu:hover {
      background: url("../assets/menu/homeicon-w.png");
      background-size: 90%;
      background-repeat: no-repeat;
      background-position: center;
      transition: 120ms ease-in-out; }
  .side-menu__wrap .open-inventory {
    width: 50px;
    height: 50px;
    background: url("../assets/menu/invicon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 120ms ease-in-out;
    position: relative; }
    .side-menu__wrap .open-inventory:before {
      content: '';
      width: 38px;
      /* height: 50px; */
      border-top: 1px solid #c79b3b;
      border-image: radial-gradient(#c79b3b, rgba(199, 155, 59, 0)) 1;
      /* padding: 2px; */
      position: absolute;
      left: 50%;
      top: -7px;
      transform: translate(-50%, 0%); }
    .side-menu__wrap .open-inventory.open {
      background: url("../assets/menu/invicon-w.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transition: 120ms ease-in-out; }
    .side-menu__wrap .open-inventory:hover {
      background: url("../assets/menu/invicon-w.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transition: 120ms ease-in-out; }

.inventory-screen {
  display: none;
  position: absolute;
  justify-content: center;
  align-self: center;
  position: absolute;
  top: 20px;
  color: #c79b3b;
  width: 65%;
  background: linear-gradient(0deg, #273648 0%, #181d23 50%);
  border: 4px solid;
  border-image: linear-gradient(45deg, #7d6326, #f2d090);
  border-image-slice: 1;
  z-index: 12;
  height: 70vh;
  box-shadow: rgba(199, 155, 59, 0.16) 0px 10px 36px 0px, rgba(199, 155, 59, 0.06) 0px 0px 0px 1px; }
  @media (max-width: 700px) {
    .inventory-screen {
      width: 90%; } }
  .inventory-screen.hidden {
    display: block; }

.stats-top button {
  background: transparent;
  text-transform: uppercase;
  margin: 0;
  width: auto;
  height: auto;
  color: #c79b3b;
  position: relative;
  font-family: beaufort;
  font-size: 24px;
  transition: 500ms ease-in-out;
  border: none;
  z-index: 1; }

.stats-top button:focus {
  border: none; }

.stats-top button:hover {
  border: none;
  transition: 500ms ease-in-out;
  color: #F2D090;
  box-shadow: rgba(199, 155, 59, 0.16) 0px 10px 36px 0px, rgba(199, 155, 59, 0.06) 0px 0px 0px 1px;
  box-shadow: rgba(199, 155, 59, 0.16) 0px 3px 6px, rgba(199, 155, 59, 0.23) 0px 3px 6px;
  box-shadow: rgba(199, 155, 59, 0.1) 0px 10px 50px; }

.stats-top button::before, button::after, span::before, span::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: transparent;
  transition: 500ms ease-in-out;
  /* -webkit-mix-blend-mode: hue; */ }

.stats-top button::before {
  top: -2px;
  left: -5px;
  border-top: 1px solid #c79b3b;
  border-left: 1px solid #c79b3b; }

.stats-top button::after {
  top: -2px;
  right: -5px;
  border-top: 1px solid #c79b3b;
  border-right: 1px solid #c79b3b; }

.stats-top span::before {
  bottom: -2px;
  left: -5px;
  border-bottom: 1px solid #c79b3b;
  border-left: 1px solid #c79b3b;
  border-radius: 1px; }

.stats-top span::after {
  bottom: -2px;
  right: -5px;
  border-bottom: 1px solid #c79b3b;
  border-right: 1px solid #c79b3b; }

.stats-top button:hover::before,
.stats-top button:hover::after,
.stats-top button:hover span::before,
.stats-top button:hover span::after {
  width: calc(205px / 2); }

.stats-top button:focus::before,
.stats-top button:focus::after,
.stats-top button:focus span::before,
.stats-top button:focus span::after {
  width: calc(205px / 2); }

[data-component="portrait-menu"] {
  height: 100%; }

.stats-bottom {
  width: 100%;
  display: flex;
  height: 85%; }
  .stats-bottom > div {
    width: 50%; }

.stats-top {
  display: flex;
  height: 15%;
  justify-content: space-evenly;
  align-items: center; }
  .stats-top > button {
    cursor: pointer; }

.stats-wrap {
  display: none;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center; }
  .stats-wrap p {
    display: flex; }
  .stats-wrap.active {
    display: flex; }

.quest-wrap {
  display: none;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center; }
  .quest-wrap.active {
    display: flex; }

.inv-wrap {
  display: none;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center; }
  .inv-wrap.active {
    display: flex; }

.portrait-menu {
  width: 100%;
  display: flex;
  background: url("../assets/characters/portrait/default.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }
  .portrait-menu.v2 {
    width: 100%;
    display: flex;
    background: url("../assets/characters/portrait/naked.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }

::-webkit-scrollbar {
  width: 5px;
  border-radius: 50%; }

/* Track */
::-webkit-scrollbar-track {
  background: #181d23; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c79b3b; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #273648; }

body {
  scrollbar-color: #c79b3b #181d23;
  scrollbar-width: 5px; }

.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center; }

[data-content="log"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  [data-content="log"] button {
    order: 1; }

[data-spoke="k"] p {
  color: #fff; }

[data-spoke="narrator"] p {
  color: #c79b3b !important; }
